{% extends 'students/base.html' %} {% load static %} {% block title %}Submissions{% endblock title %} {% block content %}


<div class="container-fluid">
  <h3 class="text-dark mb-4">Assignment Submissions</h3>
  <div class="card shadow">
    <div class="card-header py-3">
      <p class="text-primary m-0 font-weight-bold">Available Classes</p>
    </div>
    <div class="card-body">
      <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
        <table class="table my-0" id="dataTable">
          <thead>

            <tr>
              <th>Teacher Name</th>
              <th>Subject Name</th>
              <th>Classroom Code</th>
              <th>Semester</th>
            </tr>
          </thead>
          <tbody>
            {% for classroom in classrooms %}
            <tr>
              <td><strong>{{classroom.teacher.user.first_name}} {{classroom.teacher.user.last_name}}</strong></td>
              <td>{{classroom.subject}}</td>
              <td>{{classroom.code}}</td>
              <td>{{classroom.semester}}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr></tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
